---
interface Props {
  class?: string;
}
const { class: className = "" } = Astro.props;
---

<div
  class:list={[
    "relative overflow-hidden bg-cream-100 photo-frame",
    className,
  ]}
>
  <slot />
</div>
